body {
    font-family: Arial, sans-serif;
    background-color: #ddd;
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2.0em;
    margin: 20px 30px;
    color: #333;
}

.icon {
    height: 1em;
    width: auto;
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    /*box-shadow: 0 10px 10px rgba(0,0,0,0.1);*/
}

.navbar a {
    color: #fff;
    text-decoration: none;
    bottom: -6px;
    margin: 0 5px;
    padding: 8px 15px;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
}

.navbar a:hover::after,
.navbar a.active::after {
    background-color: #ddd;
}

.navbar a:hover {
    background-color: #ddd;
    color: #333;
}

.navbar a.active {
    background-color: #ddd;
    color: #333;
    font-weight: bold;
}

.username {
    font: sans-serif;
    font-weight: bold;
    font-size: smaller;
}

.navbar .logout-icon {
    font-size: 1.2em;
}

.form-container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-popup {
    display: none;
    width: 92%;
    background-color: #ffebee;
    color: #c62828;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #c62828;
    margin-bottom: 20px;
    font-family: monospace;
    font-size: small;
}

.form-container form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="email"],
input[type="password"] {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-container input[type="text"],
input[type="date"] {
    width: 92%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 200px;
    margin-right: 20px;
    text-align: center;
}

.sidebar input[type="date"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.sidebar button:hover {
    background-color: #222;
}

.content {
    flex-grow: 1;
}

.about-content {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: #f0f0f0;
    color: #333;
}

thead th:first-child {
    border-top-left-radius: 5px;
}

thead th:last-child {
    border-top-right-radius: 5px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #fff;
    background-color: #fff;
}

tr:hover {
    background-color: #ddd;
}