<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/style.css" />
    <title>About</title>
</head>

<body>
    <div class="title"><img src="static/icon.png" class="icon" alt="website logo" />Live Tracking Record</div>
    <div class="navbar">
        <div>
            <a href="/">Home</a>
            <a href="/about" class="active">About</a>
        </div>
        <div>
            <div class="username">{{ username }} <a href="/logout" class="logout-icon">&#x21AA;</a></div>
        </div>
    </div>

    <div class="about-content">
        <p>Created by <strong>Muneeba</strong>, <strong>Ilma</strong> and <strong>Saadiah</strong>.</p>
    </div>
</body>

</html>